/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body,
html{
    font-size: 18px;
    overflow-x: hidden;
}
h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
h3{
    font-size: 24px;
}
a{
    font-size: 14px;
}

/* header start */
header{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/header.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: top;
}
.header-content{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-text p,
.meet-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}
.header-text p::after, 
.meet-text h2::after,
.title h2::after{
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;
}
.header-text h1{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    border: 1px solid #fff;
    padding: 10px 30px;
    letter-spacing: 0.1em;
}
nav.menu i{
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.header-icon i,
.meet-icon i{
    font-size: 24px;
    border: 1px solid #c59a6d;
    padding: 4px 10px;
    transition:.3s all;
    cursor: pointer;
    color: #c59a6d;
}
.header-icon i:hover,
.meet-icon i:hover{
    background-color: #c59a6d;
    color: #fff;
}
/* header end */

/* meet us start */
#meet{
    padding: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meet{
    text-align: center;
    width: 50%;
}
.meet-text p{
    margin: 0 auto;
    margin-bottom: 50px;
}
/* meet us end */

/* video start */
#video{
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/video.jpg") no-repeat center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.video i{
    font-size: 36px;
    color: #fff;
    transition: .2s all;
    cursor: pointer;
}
.video i:hover{
    font-size: 48px;
}
/* video end */

/* services start */
#services{
    padding: 90px 0;
}
.services{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title{
    width: 60%;
    margin-bottom: 90px;
}
.title p{
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
}
.services-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    height: 500px;
}
.services-item{
    width: 30%;
    border: 1px solid #859297;
    padding: 80px 15px;
    transition: .3s all;
}
.services-item i{
    font-size: 60px;
    color: #859297;
}
.services-item h3{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    color: #859297;
    letter-spacing: 0.05rem;
}
.services-item p{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #859297;
}
.services-item:hover{
    border: 2px solid #c59a6d;
    padding: 110px 10px;
    
}
.services-item:hover i ,
.services-item:hover h3{
    color: #c59a6d;
}
.services-item:hover p{
    color: #000;
}

/* services end */

/* Band start */
#band{
    height: 200px;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}
.band a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 80px;
    border: 1px solid #c59a6d;
    letter-spacing: 0.1rem;
    transition: .2s all;
}
.band a:hover{
    background-color: #c59a6d;
    letter-spacing: 0.05rem;
}
/* Band end */